@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
}

a {
  color: rgb(49, 49, 243);
  transition: all 0.2s;
}

a:hover {
  color: rgb(154, 154, 255);
}
